$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_arrow_left: unquote('"\\e900"');
$icon_arrow_right: unquote('"\\e901"');
$icon_arrow_top: unquote('"\\e902"');
$icon_arrow_bottom: unquote('"\\e903"');
$icon_polygon: unquote('"\\e904"');
$icon_close: unquote('"\\e905"');
$icon_pin: unquote('"\\e906"');
$icon_phone: unquote('"\\e907"');
$icon_email: unquote('"\\e908"');
$icon_question: unquote('"\\e909"');
$icon_quotes: unquote('"\\e90a"');
$icon_share_email: unquote('"\\e90b"');
$icon_share_twitter: unquote('"\\e90c"');
$icon_share_facebook: unquote('"\\e90d"');
$icon_share_linkedin: unquote('"\\e90e"');

