.share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    margin-top: 2.5em;
    padding-top: 1.5em;
    border-top: 1px solid #D9D9D9;
    
    @media (min-width: 768px) {
        margin-top: 4.0625em;
    }


    &__title {
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.03334em;
        color: #525252;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        align-items: center;
        gap: 0.75em;

        li {
            a {
                font-size: 1.5em;
                color: #D9D9D9;
                text-decoration: none;
                cursor: pointer;
                &:after {
                  content: none;
                }

                @media (min-width: 768px) {
                    transition: 0.8s;
                  &:hover {
                    color: $color_info;
                  }
                }
            }
        }
    }
}